@import "tailwindcss";

/* I tuoi custom colors, fonts, ecc. vanno definiti con @theme */
@theme {
  --color-red: #a61932;
  --color-brown: #7a6f6c;
  --color-ocean: #0080ad;
  --color-lightblue: #9acddf;
  --color-cardspranzo: #ebf5f9;
  --color-borderbutton: #cad5e2;
  --color-text: #1d293d;
  --color-dust: #90a1b9;

  --font-cinzel: var(--font-cinzel), serif;
  --font-nunito: var(--font-nunito), sans-serif;
}
@layer utilities {
  .font-cinzel {
    font-variant-ligatures: none;
  }
}
::-webkit-scrollbar {
  @apply lg:w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply lg:bg-red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply lg:bg-lightblue lg:rounded-full lg:transition-all lg:duration-300 lg:ease-in-out;
}
.st0 {
  stroke-width: 0.7px;
}

.st0,
.st1 {
  stroke-linecap: round;
}

.st0,
.st1,
.st2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.st1,
.st2 {
  stroke-width: 0.7px;
}
.onde0 {
  fill: none;
}

.onde1 {
  fill: #ecf5f9;
  fill-rule: evenodd;
}
